{
  "canBookmark" : true,
  "bookmarkName" : "EP.0 - SRS Dropship",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Beam to Ship",
      "planetName" : "^red;Book mark here before leaving!",
      "warpAction" : "OwnShip",
      "icon" : "beamup"
    }
  ]
}
