{
  "greeting" : {
    "default" : {
      "default" : [
        "Hey!",
        "Hi!",
        "Ahaha! Yo!"
      ]
    }
  },

  "converse": {
    "default" : {
      "default" : [ 
	    "The wrench doesn't break.
I'd like to change it..",
	    "Nemu was an exchange student. And we were class mate.",
	    "Nemui? Ah, It's not her real name, but that's what her said when the examiner asked.",
	    "Nemu looks so neat even though it looks like that.",
	    "I used a long-distance radio at my last job. If your radio breaks down, tell me.",
	    "Have you ever ridden the USS Scavenger?
It was very luxurious. although it has been sunk.",
	    "I think I'll be transferred with nemu to the armored support maintenance team soon.",
	    "I get hurt frequently but it's hard because I don't get well soon.",
	    "Where's nemu?",
	    "Are you bored? Do you want to play with me and nemu?",
	    "I'm hungry..I need to go eat with Nemu."
      ]
    }
  }
}
