{
  "reattack" : {
    "default" : {
      "default" : [
        "Engaging!",
        "Enemy in sight!",
        "Fire at will!",
        "Engaging enemy!",
        "Enemy contact!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Engaging!",
        "Enemy in sight!",
        "Fire at will!",
        "Engaging enemy!",
        "Enemy contact!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Tango down.",
        "Hostile's neutralized.",
        "Target silence.",
        "Enemy down.",
        "Target down.",
        "Cease fire!"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "I saw no sign of the enemy."
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "I lost target.",
        "I lost visual the enemy."
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        ".. I can't reach there.",
        "I'm stucked"
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "Blue team, Move!",
        "Shoot them out!",
        "Fire at will!",
        "Keep firing!",
        "Fire!"
      ]
    }
  }
}
