{
  "greeting" : {
    "default" : {
      "default" : [
        "Hello!",
        "Hi, Agent!",
        "Greeting!"
      ]
    }
  },

  "converse": {
    "default" : {
      "default" : [ 
	    "All the desk work is my job, right? I know..",
	    "Already pixel prints are mass-produced, but why should I still use pen and paper?
Is this a hell of retro style, too?",
	    "Nan- nanana- nan-nana nanana- na-♬",
	    "Maj.Lily using experimental omni-tool. But, sadly she use it for cutting & killing only.",
	    "Jessie was my friend's little sister. Friend? She is Lyra, SRS agent. She went to earth fragments for task, So maybe we can meet her someday.",
	    "I love spider. But, Being taller than me may be a little too much...",
	    "I wish I had only Sunday.",
	    "Work, work! *sigh",
	    "Maybe Col.Xander has wife and kid. But, he never talked about them.",
	    "I don't like shooting. But, There is no other options. Actually, It's better than knife or pen.",
	    ".. I want to use 22LR revolver. No jamming, No muscular pain, No earache.. But, If i used it before, I'd already be dead.",
	    "When earth was exist, I always had waited payday.
Now, I can't spend it even if I have a pile of money now.
..I miss the Starbuckshot tumbler I collected."
      ]
    }
  }
}
