{
  "reattack" : {
    "default" : {
      "default" : [
        "Go away!",
        "Shh! Shh--!",
        "Nooo-! Go away!",
        "$%^$%^%$##$",
        "Aww, Again?"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Don't move! I'll shoot you if you move!",
        "Freeze!",
        "Fire at will!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Hew.",
        "I...m not good at this.",
        "Is that.. still alive?",
        ".. Did it.",
        "Done..",
        "I'm so tired.."
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "Hew, Done.",
        "Please, do not come again..",
        "I need resupplying.",
        "*Sigh.",
        "Ok, only scratch.",
        "Good. No wounds."
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Disappeared..",
        "..Is this over?",
        "Be careful, the enemy could still be left.",
        "Shh.. Don't make a noise.",
        "Please, Do not come back.."
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "How did you get over there?",
        "I can't reach!"
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "Cheese cake!",
        "Tea time with alice!",
        "Nyaaaaa!",
        "@#@%@@#@#"
      ]
    }
  }
}
