{
  "reattack" : {
    "default" : {
      "default" : [
        "Ah, really?!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Eat this!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "So, can i get some shower?",
        "Nemu, Are you alright?",
        "Phew! I'm engi. Not a fighter!",
        "Yay, Shower time!",
        "I'm sticky with sweat.."
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "..Disappeared? Nemu, get back!",
        "Where is it..?",
        "Nemu, Come with me."
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "..Disappeared? Nemu, get back!",
        "Where is it..?",
        "Nemu, Come with me."
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Nemu, Come with me."
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "For the shower!",
        "Nemu! Are you ok?",
        "Wrench can fix everything!"
      ]
    }
  }
}
