{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "type" : "ffs_spark_small",
	  "angle" : 0
    },
    {
      "action" : "loop",
      "count" : 5,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
				"type" : "ember",
				"size" : 0.5,
				"color" : [253, 200, 57, 255],
				"fade" : 0.9,
				"initialVelocity" : [0.0, 0.0],
				"finalVelocity" : [0.0, 0.0],
				"approach" : [0, 0],
				"timeToLive" : 0.15,
				"layer" : "front",
				"fullbright" : true,
				"variance" : {
				"initialVelocity" : [10.0, 10.0]
                }
			  }
            },
            {
              "action" : "particle",
              "specification" : {
				"type" : "animated",
				"animation" : "/particles/gunsmoke/gunsmoke.animation",
				"size" : 0.9,
				"color" : [80, 80, 80, 255],
				"fade" : 2.5,
				"initialVelocity" : [0, 1],
				"finalVelocity" : [0, 1],
				"approach" : [5, 5],
				"timeToLive" : 2.5,
				"layer" : "back",
				"fullbright" : true,
				"variance" : {
				"initialVelocity" : [0.5, 1],
				"rotation" : 360,
				"angularVelocity" : 10
                }
			  }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/ffs_bulletwhiz1.ogg","/sfx/ffs_bulletwhiz2.ogg" ]
    },
    {
      "action" : "light",
      "color" : "orange"
    }
  ]
}
