{
  "filter" : [  ],
  "titleFromEntity" : true,
  "requiresBlueprint" : true,
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/objects/ffs_ui/none.png",
      "fileBody" : "/objects/ffs_ui/chiquita_elevator_mine.png",
      "fileFooter" : "/objects/ffs_ui/none.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [321, 261]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : " ",
      "subtitle" : " ",
      "position" : [-5, 252],
      "icon" : {
        "type" : "image",
        "file" : "/objects/ffs_ui/none.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/objects/ffs_ui/none.png",
      "position" : [-15, 0],
      "zlevel" : -10
    },
    "lblSchematics" : {
      "type" : "label",
      "position" : [88, 244],
      "hAnchor" : "mid",
      "value" : " "
    },
    "lblProducttitle" : {
      "type" : "label",
      "position" : [265, 244],
      "hAnchor" : "mid",
      "value" : " "
    },
    "spinCount" : {
      "type" : "spinner",
      "position" : [999, 46],
      "upOffset" : 36
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [999, 46],
      "textAlign" : "center",
      "maxWidth" : 16,
      "regex" : " ",
      "hint" : ""
    },
    "imgAmountInput" : {
      "type" : "image",
      "file" : "/objects/ffs_ui/none.png",
      "position" : [226, 45],
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/objects/ffs_ui/none.png",
      "hover" : "/objects/ffs_ui/none.png",
      "position" : [271, 43],
      "caption" : " "
    },
    "btnStopCraft" : {
      "type" : "button",
      "base" : "/objects/ffs_ui/none.png",
      "hover" : "/objects/ffs_ui/none.png",
      "position" : [271, 43],
      "caption" : " "
    },
    "imgCraftBg" : {
      "type" : "image",
      "file" : "/objects/ffs_ui/none.png",
      "position" : [196, 40],
      "zlevel" : -5
    },
    "currentRecipeIcon" : {
      "type" : "itemslot",
      "callback" : "null",
      "position" : [197, 41]
    },
    "btnFilterHaveMaterials" : {
      "type" : "button",
      "base" : "/objects/ffs_ui/none.png",
      "baseImageChecked" : "/objects/ffs_ui/none.png",
      "checkable" : true,
      "checked" : false,
      "position" : [40, 59]
    },
    "lblProduct" : {
      "type" : "label",
      "position" : [51, 58],
      "hAnchor" : "left",
      "value" : " "
    },

    "description" : {
      "type" : "widget",
      "position" : [190, 41],
      "size" : [140, 220]
    },

    "filter" : {
      "type" : "textbox",
      "position" : [56, 43],
      "hint" : " ",
      "maxWidth" : 70,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : false
    },

    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [999, 999, 999, 999],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/objects/ffs_ui/none.png",
            "unselectedBG" : "/objects/ffs_ui/none.png",
            "spacing" : [0, 1],
            "memberSize" : [159, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/objects/ffs_ui/none.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "newIcon" : {
                "type" : "image",
                "position" : [119, 5],
                "file" : "/objects/ffs_ui/none.png",
                "zlevel" : 2
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [122, 1],
                "file" : "/objects/ffs_ui/none.png"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/objects/ffs_ui/none.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },

    "lblHammersTab" : {
      "type" : "image",
      "file" : "/objects/ffs_ui/none.png",
      "position" : [25, 223],
      "zlevel" : 3
    },
    "lblStandsTab" : {
      "type" : "image",
      "file" : "/objects/ffs_ui/none.png",
      "position" : [52, 223],
      "zlevel" : 3
    },

    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          "selected" : true,
          "position" : [18, 221],
          "baseImage" : "/objects/ffs_ui/none.png",
          "baseImageChecked" : "/objects/ffs_ui/none.png",
          "data" : {
            "filter" : [ "ffs_nothing" ]
          }
        },
        {
          "position" : [45, 221],
          "baseImage" : "/objects/ffs_ui/none.png",
          "baseImageChecked" : "/objects/ffs_ui/none.png",
          "data" : {
            "filter" : [ "ffs_nothing" ]
          }
        }
      ]
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
      ]
    }
  }
}
