{
  "greeting" : {
    "default" : {
      "default" : [
        "Nice to meet you, agent.",
        "*Salute",
        "I'm ready to fight, commander."
      ]
    }
  },

  "converse": {
    "default" : {
      "default" : [ 
	    "All clear.",
	    "Area clear.",
	    "I'm Waiting command."
      ]
    }
  }
}
