{
  "greeting" : {
    "default" : {
      "default" : [
        "Commander!",
        "Hello commander!",
        "Oh, it's you commander!"
      ]
    }
  },

  "converse": {
    "default" : {
      "default" : [ 
	    "Alice is my big sister's friend. I'm so glad she's alive.",
	    "Sir Max? He is a good boss, but slightly too much hard worker.. *sigh",
	    "I'm private. but not training soldier. I'm enlisted!",
	    "My UMP45 was red team's service weapon. But, gunners are already..",
	    "I'm not good at actual battle.",
	    "My grades in training camp was really good.",
	    "Cake! Hell of CAKE! C-A-K-E-!",
	    "Before working outside, My big sister said she had a cheese cake, but cake is a lie.",
	    "You know that? Red team suit's dye is self-burdening.",
	    ".45 calibre is slightly expensive. Maybe i have to change it to mp5..",
	    "White crow! My dream came true..",
	    "I think white raven is better.. Aren't you?"
      ]
    }
  }
}
