{
  "reattack" : {
    "default" : {
      "default" : [
        "Iya.",
        "No.",
        "Yame.",
        "Stop.",
        "Shinaide."
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Iya.",
        "No.",
        "Yame.",
        "Stop.",
        "Shinaide."
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "*Yawn",
        "*Mumble"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "..?"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "..?"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "..?"
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "..zzz"
      ]
    }
  }
}
