{
  "reattack" : {
    "default" : {
      "default" : [
        "Heh-heh!",
        "Revenge? Good. C'mon.",
        "Aha!",
        "*smile",
        "Hee hee hee-"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "*Smile"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Not enough.",
        ".. Is this over?",
        "Really? Is this over?",
        "Damn, disappointed.",
        "Loser.",
        "Tsh.",
        "You wore a nice necklace.",
        "Huh? Can't I have a trophy?",
        "...",
        "I like someone who has a sting taste. Not you.",
        "Poor.",
        "Poor jerk."
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "I will get you one day~!",
        "Where are you~♬",
        "Hm hm hm~",
        "Hide-and-seek? Sounds good!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Oh, smart jerk.",
        "..Should I throw an energy blade?",
        "Hm..teresting. I can't see it.",
        "I feel like I've been robbed of my teddy bear.",
        "Is that a ninja or something?"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "Yoo-hoo!",
        "Don't you need a girl who's good at energy-scarpel? Leave it?",
        "My energy blade flies 12 kilometers!
Sorry, It's a lie."
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "Kiss me Alice!",
        "If I die here... bury me next to Alice!
Eh? How can Alice live when I'm dead?",
        "*smile"
      ]
    }
  }
}
