{
  "greeting" : {
    "default" : {
      "default" : [
        "Nice to meet you agent.",
        "*Salute",
        "Greeting."
      ]
    }
  },

  "converse": {
    "default" : {
      "default" : [ 
	    "A loophole in the security system has been discovered.
But, There is no spares to modify it.",
	    "I need to ask Colnel for further assistance.",
	    "We are lack of manpower, weapons, ammunition, We are in a chronic shortage.",
	    "We need red team's reorganization.",
	    "Although currently made up of humans who graduate the training camp, it will soon have to be reorganized into multiracional troops.",
	    "There are a lot of places to repair, so engineers will be in trouble.",
	    "..a little tired.",
	    "Would you like a cup of coffee?",
	    "I like  gourmet blend.. But, I can't get any more.",
	    "I lost my wife on Earth and my daughter here.
But I'm not going to give up on the people I'm supposed to protect.",
	    "What did I do on Earth?
I was an English teacher.",
	    "What's really hard is..Now I have no place to go back after work."
      ]
    }
  }
}
