{
  "reattack" : {
    "default" : {
      "default" : [
        "Again?!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Agent, Bad buddies here!",
		"There!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Well, Atleast i'm still alive."
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "I can't find target!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Too far! I can't hit the target!"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "..Really?"
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "Major, Help me!",
        "Jessie, where are you!",
        "Agent!",
        "Help me!",
        "Ugh! I'm not good at shooting!",
        "Come on! Please hit!"
      ]
    }
  }
}
