{
  "greeting" : {
    "default" : {
      "default" : [
        "Yo.",
        "Hey.",
        "*whistle"
      ]
    }
  },

  "converse": {
    "default" : {
      "default" : [ 
	    "Hm. Well, you're not bad..
Why don't you come to my office with me?
What for? Well? *smile",
	    "I like lily. 
Pretty, white and ..clingy. *Smile",
	    "I love moderate. Why?
Moderate beauty, moderate size, moderate joy.
There's no failure.
What are you thinking? Pervert! *smile",
	    "Chu-chu-. I have a dull mouth.
I need to eat Alice.
..Alice, why are you running away? heh-heh.",
	    "What are you thinking? Pervert! *smile",
	    "I don't do paperwork anymore. Because There's no one around me who's higher than me.",
	    "Don't worry. I'm serious when I work.",
	    "The energy blade is overloaded.
It might explode if I make a little mistake.",
	    "I like teddy bears, but sadly, there's no place to buy them now.",
	    "My teddy collection was burnt out when white crow was attacked.
Well, I'll make a new one.",
	    "Agent, have a hard time?",
	    "Thank you agent. I owe you one."
      ]
    }
  }
}
