{
  "greeting" : {
    "default" : {
      "default" : [
        "..?",
        "*Yawn",
        "H-a-i."
      ]
    }
  },

  "converse": {
    "default" : {
      "default" : [ 
	    "..?",
	    "*Yawn",
	    "..Thank you for saving me and rebecca.
But, please do not touch me.",
	    "..",
	    "....",
	    "...??",
	    "...*Yawn",
	    "..zzz",
	    "..zzzzzz",
	    "..!",
	    "........................Iya.",
	    "*sigh 
Sleep is important. Sleep is one of the essential human activities, and enough sleep allows for the stability and mental stability of brain waves. But there are too few engineers here to get enough sleep. So, can I get some sleep?"
      ]
    }
  }
}
